.genre-view {
  text-align: center;
  border-style: solid;
  border-color: yellowgreen;
}

.genre-name-label {
  text-align: center;
  color: yellowgreen;
  font-size: 24px;
}

.genre-discription-label {
  color: whitesmoke
}

