.director-view {
  text-align: center !important;
  margin-top: 15%;
}

.label {
  color: yellowgreen;
  font-size: 24px !important;
  text-align: center !important;
}
.director-name {
  color: yellowgreen;
}
.value {
  color: whitesmoke;
  text-align: center;
  padding: 5px;
}